.header-conteiner {
    background-color: #efd6f1;  
    color: rgb(74, 69, 75);  
    padding: 20px 0;  
    text-align: center;  
    position: relative;  
    z-index: 50;  
}

.header-title {
    font-size: 2em;  
    font-weight: bold;  
    margin: 0;  
    padding-bottom: 10px;  
    font-family: 'Arial', sans-serif;  
}

.menu-conteiner {
    margin-top: 20px;  
}
